<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852375005616-2fagjkdbqioveqfdr5so6ac1pfgmoj9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852375005616-2fagjkdbqioveqfdr5so6ac1pfgmoj9p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852375005616-pfvb1rf5felo6a5nvb14rl8gkfq3rrde.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_z5EVjauYQ5AnDeKn_nZ8M5b9TxRwvIA</string>
	<key>GCM_SENDER_ID</key>
	<string>852375005616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.timeinandtimeoutofinterns</string>
	<key>PROJECT_ID</key>
	<string>intern-in-out</string>
	<key>STORAGE_BUCKET</key>
	<string>intern-in-out.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852375005616:ios:2749cb6ee064b78d164e75</string>
	<key>DATABASE_URL</key>
	<string>https://intern-in-out-default-rtdb.firebaseio.com</string>
</dict>
</plist>